%h1 Admin Dashboard
%p this page will contain links to the data layer, as needed to test development/progress.
%p= link_to 'companies', '/companies'
%p= link_to 'entities', '/entities'
%p= link_to 'securities', '/securities'
%p= link_to 'transactions', '/transactions'

