<center><p id="notice"><%= notice %></p>

<p>
  <b>Entity:</b>
  <%= @request.entity_id %>
</p>

<p>
  <b>Email:</b>
  <%= @request.email %>
</p>

<%= link_to 'Back', session[:company_id].to_i.c %>
</center>