<br /><br />
<b>New transaction</b>
<p>Modify the following defaults to the transaction, <u>in sequence</u> of top to bottom.</p>

<%= render 'form' %>

<%= link_to 'Transactions List', transactions_path %> . 
<%= link_to 'Companies List', companies_path %>
